.form-container {
  max-width: 600px;
  margin: 20px auto;
  background: white;
  padding: 30px 35px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}



.order-form{
    /* background-color: red; */
    /* width: 100%; */
    width: 450px;
    /* padding-right: 10px ; */
}

.order-form .logo2 {
  width: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}


.order-form label {
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  color: grey;
}

.order-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 15px;
}

.form-heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.form-subheading {
  font-size: 14px;
  text-align: center;
  color: #666;
  margin-bottom: 15px;
}

.submit-btn, .continue-btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  background-color: #3b82f6;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submit-btn:hover,
.continue-btn:hover {
  background-color: #2563eb;
}

.thankyou-section {
  text-align: center;
  padding: 30px;
}



.error-msg {
  color: red;
  font-size: 0.9em;
  margin-top: 4px;
}



/* Tablet screens (max width: 768px) */
@media (max-width: 768px) {
  .form-container {
    padding: 20px;
  }

  .order-form {
    width: 90%;
    padding: 20px;
    font-size: 1em;
  }

  .order-form img {
    margin: 0 auto;

  }

  .form-subheading {
    font-size: 1em;
    text-align: center;
  }

  .order-form label {
    font-size: 0.95em;
    margin-top: 10px;
  }

  .order-form input {
    font-size: 1em;
    padding: 8px;
  }

  .submit-btn {
    font-size: 1em;
    padding: 10px 16px;
  }

  .thankyou-section {
    padding: 20px;
    font-size: 1em;
    text-align: center;
  }

  .thankyou-section h2 {
    font-size: 1.4em;
  }

  .thankyou-section p {
    font-size: 1em;
  }

  .thankyou-section button {
    font-size: 1em;
    padding: 10px 16px;
  }
}

/* Mobile screens (max width: 480px) */
@media (max-width: 480px) {
  .order-form {
    width: 100%;
    padding: 16px;
    font-size: 0.9em;
  }

  .order-form .logo2{
    margin: 0 auto;
  }

  .form-subheading {
    font-size: 0.9em;
    margin-top: 15px;
  }

  .order-form label {
    font-size: 0.95em;
    color: rgb(116, 115, 115);
  }

  .order-form input {
    font-size: 0.9em;
    padding: 8px;
  }

  .submit-btn {
    font-size: 0.95em;
    padding: 8px 14px;
  }

  .thankyou-section h2 {
    font-size: 1.2em;
  }

  .thankyou-section p {
    font-size: 0.9em;
    margin-top: 8px;
  }

  .thankyou-section button {
    font-size: 0.72em;
    width: 152px;
    height: 45px;
  }
}
