footer {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
  background-color: rgb(34, 34, 34);
  color: whitesmoke;
  flex-direction: column;
  overflow: hidden;
  gap: 20px;
  padding-top: 20px;
}

.footer-content {
  margin-top: 20px;
  flex-wrap: wrap;
  display: flex;
  gap: 40px;
  padding-top: 10px;
  justify-content: space-evenly;
  align-items: flex-start;
}

.footer-content h3 {
  font-size: 1.3em;
  color: whitesmoke;
}

.footer-section {
  display: block;
  width: 400px;
}

.footer-section p {
  margin-top: 20px;
  margin-left: 10px;
  color: rgb(224, 222, 222);
  font-size: 1vw;
  letter-spacing: 0.2px;
}

.footer-bottom {
  padding: 0px 50px;
  padding-bottom: 50px;
  margin-top: 10px;
  width: auto;
  font-size: 3vw;
  text-align: center;
}

.footer-bottom p {
  font-size: 1vw;
}

.footer-section svg {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  fill: rgb(220, 219, 219);
}

.footer-content .facebook {
  fill: rgb(20, 78, 202);
}

.footer-content .whatsApp {
  fill: rgb(18, 173, 56);
}

.footer-content .facebook:hover {
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.footer-content .instagram:hover {
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.footer-content .whatsApp:hover {
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.newsletter {
  text-align: '';
  width: 100%;
  padding: 0px 0px;
}

.newsletter input {
  margin-top: 10px;
  margin-left: 5px;
  border: none;
  background-color: '';
  color: whitesmoke;
  width: 200px;
  background-color: rgb(34, 34, 34);
  border-bottom: 1px solid grey;
}

.newsletter input::placeholder {
  color: rgba(245, 245, 245, 0.285);
  padding: 0px 2px;
}

.newsletter button {
  transition: 0.5s ease-in-out;
  width: '';
}

@media (max-width: 700px) {
  footer {
    margin: 0px 0px;
    padding: 0px 0px;
  }

  .footer-content {
    justify-content: flex-start;
    padding: 20px;
  }

  .footer-section p {
    font-size: 1em;
  }

  .newsletter button {
    font-size: 1.5em;
  }

  .footer-bottom p {
    font-size: 0.5em;
  }
}

@media (max-width: 480px) {
  .footer-section {
    gap: 0px;
  }

  .footer-section p {
    font-size: 0.7em;
    margin-top: 10px;
  }

  .footer-section {
    padding-left: 40px;
  }

  .footer-bottom {
    width: 100vw;
    text-align: center;
    color: rgb(224, 222, 222);
    margin-top: 0px;
  }

  .footer-bottom p {
    margin-top: '';
    font-size: 1em;
  }

  .newsletter {
    width: 90%;
  }

  .newsletter input {
    margin-left: 0px;
    width: 165px;
  }

  .newsletter button {
    font-size: 1.2em;
  }

  @media (max-width: 360px) {
    .footer-content {
      margin-left: 7px;
    }

    .newsletter button {
      width: 97.5%;
    }
  }
}
